<%= simple_form_for @instance do |i| %>
  <%= i.error_notification %>

  <div class='form-inputs'>
    <%= i.association :game, collection: Game.order(:name) %>
    <%= i.input :play_date, as: :date_picker %>
    <div id='score-container'>
      <h3>Scores</h3>
    </div>
  </div>
  <div class='form-actions'>
    <%= i.submit class: 'btn btn-primary' %>
  </div>
<% end %>

