<%= simple_form_for @instance do |i| %>
  <%= i.error_notification %>

  <div class='form-inputs'>
    <%= i.association :game %>
    <%= i.input :play_date, as: :date_picker %>
    <%= i.simple_fields_for :scores do |s| %>
      <%= s.association :player, label: false, prompt: Player.model_name.human %>
      <%= s.input :score, label: false, placeholder: Score.model_name.human %>
    <% end %>
  </div>
  <div class='form-actions'>
    <%= i.submit class: 'btn btn-primary' %>
  </div>
<% end %>

