<h1>Games</h1>

<table class='table data-table'>
  <thead>
    <tr>
      <th><%= Game.human_attribute_name :name%></th>
      <th>Times Played</th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @games) do |game| %>
      <td><%= link_to game.name, game if can? :show, game %>
      <td><%= game.instances.size %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Game', new_game_path, class: 'btn' if can? :new, :game %>
