<div class='row'>
  <div class='span2'>
    <%= show_for @game do |s| %>
      <%= s.attribute :name %>
      <%= s.attribute :bgg_id %>
      <%= s.attribute :high_score_win %>
      <%= s.attribute :exclude_from_stats %>
    <% end %>

    <%= link_to 'Edit', edit_game_path(@game), class: 'btn btn-warning' if can? :edit, @game %>
    <%= link_to 'Back', games_path, class: 'btn' if can? :index, :game %>
  </div>
  <div class='span5'>
    <h4>Instances</h4>
    <table class='table'>
      <thead>
        <tr>
          <th>Play Date</th>
          <th>Players &amp; Scores</th>
        </tr>
      </thead>
      <tbody>
      <% @game.instances.order('play_date desc').each do |instance| %>
        <tr>
          <td><%= link_to instance.play_date, instance %></td>
          <td>
            <ul>
              <% instance.scores.each do |s| %>
                <li><%= s.player.name %> - <%= s.score %> <% if s.win? %><i class='icon-star'></i><% end %></li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
  <div class='span5'>
    <h4>Statistics</h4>
  </div>
</div>
