<div class='show-buttons'>
  <%= link_to 'Edit', edit_game_path(@game), class: 'btn btn-warning' if can? :edit, @game %>
  <%= link_to 'BGG', @game.bgg_url, class: 'btn' %>
  <%= link_to 'Back', games_path, class: 'btn' if can? :index, :game %>
</div>
<h1><%= @game.name %></h1>
<%= show_for @game do |s| %>
  <%= s.attribute :high_score_win %>
  <%= s.attribute :exclude_from_stats %>
<% end %>

<div class='row'>
  <div class='span5'>
    <h3>Instances</h3>
    <table class='table'>
      <thead>
        <tr>
          <th>Play Date</th>
          <th>Players &amp; Scores</th>
        </tr>
      </thead>
      <tbody>
      <% @game.instances.each do |instance| %>
        <tr>
          <td><%= link_to instance.play_date, instance %></td>
          <td>
            <% instance.scores.each do |s| %>
              <%= s.player.name %> - <%= s.score %> <% if s.win? %><i class='icon-star'></i><% end %><br>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
  <div class='span7'>
    <h3>Statistics</h3>
    <% @set = InstanceSet.new @game.instances %>
    <table class='table table-bordered table-condensed data-table-no-pagination'>
      <thead>
        <tr>
          <th>Player</th>
          <th>P</th>
          <th>W</th>
          <th>L</th>
          <th>X</th>
          <th>W%</th>
        </tr>
      </thead>
      <tbody>
        <% @set.players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= @set.plays player %></td>
            <td><%= @set.wins player %></td>
            <td><%= @set.losses player %></td>
            <td><%= @set.excluded player %></td>
            <td><%= number_with_precision @set.statistics(player).winning_percentage, precision: 3 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
