<h1>Players</h1>

<table class='table data-table'>
  <thead>
    <tr>
      <th><%= Player.human_attribute_name :first_name%></th>
      <th><%= Player.human_attribute_name :last_name%></th>
      <th>Games Played</th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @players) do |player| %>
      <td><%= link_to player.first_name, player %></td>
      <td><%= link_to player.last_name, player unless player.last_name.nil? %></td>
      <td><%= player.games_played %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Player', new_player_path, class: 'btn' if can? :new, :player %>
