<%= show_for @player do |s| %>
  <%= s.attribute :first_name %>
  <%= s.attribute :last_name %>
<% end %>

<h3>Games Played</h3>
<table class='table table-bordered table-condensed data-table' data-sort-column='1' data-sort-direction='desc'>
  <thead>
    <tr>
      <th>Player</th>
      <th>P</th>
      <th>W</th>
      <th>L</th>
      <th>X</th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |s| %>
      <tr>
        <td><%= link_to s.game.name, s.game %></td>
        <td><%= s.played %></td>
        <td><%= s.wins %></td>
        <td><%= s.losses %></td>
        <td><%= s.excluded %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Recently Played</h3>
<table class='table table-bordered table-condensed data-table' data-sort-direction='desc'>
  <thead>
    <tr>
      <th>Play Date</th>
      <th>Game Name</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% @instances.each do |i| %>
      <% if i.played_by?(@player) %>
        <tr>
          <td><%= link_to i.play_date, i %></td>
          <td><%= link_to i.game.name, i.game %></td>
          <td><%= i.result @player %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_player_path(@player), class: 'btn btn-warning' if can? :edit, @player %>
<%= link_to 'Back', players_path, class: 'btn' if can? :index, :player %>
